/*Use web font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* section body  */

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;

}
.conteiner{
    margin-top: 40px;
    display: flex;
    justify-content: center;

}
/* header area start  */

.header-area{
    border-radius: 20px;
    background-color: black;
    display: flex;
}

.header-text{
    padding-top: 80px;
    padding-left: 80px;
    width: 531px;
    color: white;
}
.header-text h1{
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 20px;
}
.header-text p{
    padding-bottom: 30px;
    font-size: 16px;
    font-weight: 400;
}
.header-text a{
    padding-bottom: 40px;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-color: #DD0000;
    border-radius: 5px;
}
 .header-img img{
    padding-top: 30px;
    padding-right: 40px;
    width: 481px;
    height: 513px;
 }
/* header area end  */

/* main area start */

/* blog area start  */

/* side blogs area start */

.side-blog{
   margin-right: 20px;
    background-color: black;
    width: 312px;
    height: 312px;
    border-radius: 10px;
    border: 3px solid rgba(128, 128, 128, 0.1);
}
.side-blog:hover{
    border: 3px solid rgb(59, 181, 230);
}
.button{
    padding-top: 40px;
    display: flex;
    justify-content: center;
}
.button a{
    text-decoration: none;
    padding: 10px 40px;
    color: black;
    background-color: white;
    border-radius: 5px;
}
.button a:hover{
    border: 3px solid rgb(59, 181, 230);
}
.button #upcoming{
    background-color: #DD0000;
}
.button #group{
    padding: 10px 75px;
}
.button #blog{
    padding: 10px 95px;
}
/* side blogs area end */

/* main blog area start  */
  .blogs-item{
    display: flex;
} 
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}
.card{
    border-radius: 10px;
    width: 312px;
    border: 3px solid rgba(128, 128, 128, 0.1);
    height: 242px;
}
.card:hover{
    border: 3px solid rgb(59, 181, 230);
}
.card-img{
    justify-content: center;
    display: flex;
}
.card-img p{
    padding:25px 15px 20px ;
}
.card-img1,.card-img2 img{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 94px;
    height: 57px;
}
.card-info{
    padding-left: 10px;
}
.card-info h4{
    text-align: center;
}
.card-info p{
    text-align: center;
    color: grey;
}
/* main blog area end  */

/* blog area end  */

/* main area end  */



/* footer area start  */
.footer-area{
    margin-top: 50px;
    background-color: black;
    padding-bottom: 50px;
    border: 3px solid rgba(128, 128, 128, 0.1);
}
.footer-area:hover{
    border: 3px solid rgb(59, 181, 230);
}
.footer-text h4{
    padding: 30px 0;
    color: white;
    text-align: center;
}
.footer-border {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    width: 1200px;
    border-bottom: 2px solid grey;
}
.footer-border:hover{
    border-bottom: 2px solid rgb(59, 181, 230);
}
.footer-info{
    text-align: center;
}
.footer-info a{
    text-decoration: none;
    color: white;
    padding-left: 30px;
}

/* footer area end  */