/*Use web font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* section body  */

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;

}
.conteiner{
    margin-top: 40px;
    display: flex;
    justify-content: center;

}
/* header area start  */

.header-area{
    border-radius: 20px;
    background-color:black;
    animation-name: rubel;
    animation-duration:50s;
    display: flex;
}
@keyframes rubel {
    0%   {background-color:black;}
    25%  {background-color: purple;}
    50%  {background-color: blue;}
    100% {background-color: green;}
  }

.header-text{
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 40px;
    color: white;
}
.header-text h1{
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 20px;
}
.header-text p{
    padding-bottom: 30px;
    font-size: 16px;
    font-weight: 400;
}

.header-text a{
    position: relative;
    animation: rubel1 5s infinite;
    padding-bottom: 40px;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-color: #DD0000;
    border-radius: 5px;
}
@keyframes rubel1{
    from {left: 0px;}
    to {left: 150px;}
  }
 .header-img img{
    padding-top: 30px;
    padding-right: 40px;
    width: 481px;
    height: 513px;
 }
/* header area end  */

/* main area start */

/* blog area start  */

/* side blogs area start */


.side-blog{
    margin-right: 20px;
    background-color: black;
    width: 312px;
    height: 312px;
    border-radius: 10px;
    border: 3px solid rgba(128, 128, 128, 0.1);
}
.side-blog:hover{
    border: 3px solid rgb(59, 181, 230);
}
.button{
    padding-top: 40px;
    display: flex;
    justify-content: center;
}
.button a{
    text-decoration: none;
    padding: 10px 40px;
    color: black;
    background-color: white;
    border-radius: 5px;
}
.button a:hover{
    border: 3px solid rgb(59, 181, 230);
}
.button #upcoming{
    background-color: #DD0000;
}
.button #group{
    padding: 10px 75px;
}
.button #blog{
    padding: 10px 95px;
}
/* side blogs area end */

/* main blog area start  */
  .blogs-item{
    display: flex;
} 
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}
.card{
    border-radius: 10px;
    width: 312px;
    border: 3px solid rgba(128, 128, 128, 0.1);
    height: 242px;
}
.card:hover{
    border: 3px solid rgb(59, 181, 230);
}
.card-img{
    justify-content: center;
    display: flex;
}
.card-img p{
    padding:25px 15px 20px ;
}
.card-img1 ,.card-img2 img{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 94px;
    height: 57px;
}
.card-info{
    padding-left: 10px;
}
.card-info h4{
    text-align: center;
}
.card-info p{
    text-align: center;
    color: grey;
}
/* main blog area end  */

/* blog area end  */
/* view all area start  */
.view-all{
    display: flex;
    justify-content: center;
    padding: 30px 0;
    }
    .view-all a{
        visibility:hidden;
        color: white;
        text-decoration: none;
        padding: 10px 20px;
        background-color: #DD0000;
        border-radius: 5px;
    }
    /* view all area end */

/* main area end  */


/* footer area start  */
.footer-area{
    margin-top: 50px;
    background-color: black;
    padding-bottom: 50px;
    border: 3px solid rgba(128, 128, 128, 0.1);
}
.footer-area:hover{
    border: 3px solid rgb(59, 181, 230);
}
.footer-text h4{
    font-weight: 600;
    font-size: 40px;
    padding: 5px 0;
    color: white;
    text-align: center;
}
.footer-border { 
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    width: 1200px;
    border-bottom: 2px solid grey;
}
.footer-border:hover{
    border-bottom: 2px solid rgb(59, 181, 230);
}
.footer-info{
    text-align: center;
}
.footer-info a{
    padding-left: 30px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color:grey
}
.footer-logo{
    visibility:hidden;
}
.logos{
    display: flex;
    justify-content: center;
}
.logo{
    font-size: 25px;
    padding: 30px 20px;

}
.fa-brands{
    color: white;
}
/* footer area end  */



/* responsive start */


@media only screen and (max-width:768px) {

/* responsive phone view */

/* header section */
    .header-area{
   flex-direction: column;
   margin: 20px;
    }
    .header-text{
        padding: 0 20px;
        text-align: center;
    }

.header-text h1{
    font-size: 22px;
    font-weight:700;
    padding:30px 0;
}
.header-text p{
    font-size: 14px;
}
@keyframes rubel1{
    from {left: 0px;}
    to {left: 50px;}
  }
 .header-img img{
    padding: 40px;
    padding-left: 70px;
    width: 233px;
    height: 245px;
 }
 /* blogs section */

 .side-blog{
    margin-bottom: 40px;
    background-color:aqua;
 }
   .blogs-item{
     display: flex;
     flex-direction: column; 
 } 
 .cards{
     display: grid;
     grid-template-columns: repeat(1, 1fr);
     grid-gap: 15px;
 }
 /* footer section  */

 .footer-area{
    padding-bottom:50px;
}

.footer-border {
    margin:30px 0;
    width:300px;
}
.footer-text h4{
    font-size: 22px;
    padding:0;
    margin: 0;
}
.footer-info a{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.footer-logo{
    visibility:visible;
}

}

/* responsive tablet view */


@media only screen and (min-width:769px) and (max-width:992px) {

    
    /* header-section start*/

    .header-area{
        width: 734px;
         }
         .header-text{
            padding-top: 50px;
            padding-left: 50px;
            padding-right: 20px;
            padding-bottom: 50px;
        }
         .header-text h1{
            font-size: 30px;
            padding:0;
        }
        .header-text p{
            font-size: 14px;
        }
        .header-img img{
            padding-top: 50px;
            padding-right: 40px;
            width: 323px;
            height: 340px;
         }
         /* header section end */
         .side-blog{
            background-color: transparent;
             width:100%;
             height:150px;
             border: 1px solid white;
         }
         .side-blog:hover{
            border: 1px solid white;
         }
         .blogs{
            display: flex;
         }
         .button a{
             margin-left: 20px;
             border: 2px solid grey;
         }
         .button a:hover{
             border: 2px solid rgb(59, 181, 230);
         }
         .blogs-item{
            display: flex;
            flex-direction: column;
        } 
     .cards{
         grid-template-columns: repeat(2, 1fr);
     }
     #hide{
        display: none;
     }
     .view-all a{
        visibility:visible;
    }
     /* footer section  */
     .footer-area{
        width:100%;
     }
     .footer-border{
        width: 850px;
     }
     .footer-icon {
        padding-left: 100px;
        line-height: 50px;
        text-align: center;
        width: 600px;
     }

    
    }